.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  @media (max-width: 1280px) {
    grid-template-columns: repeat(1, auto);
    text-align: center;
  }
}
