<!-- Navbar -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
  rel="stylesheet"
/>
<div class="navbar">
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      width: 100%;
      max-width: 100%;
      height: 4rem;
      font-size: 30px;
      border-radius: 0px 0px 10px 10px;
      padding: 0rem 1rem;
      position: fixed;
      top: 0;
      z-index: 50;
      max-width: 1200px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
    "
  >
    <div class="navbar-left">
      <button class="secondary-button" style="padding: 0 0.5rem">
        <img src="assets/menu.svg" />
      </button>
      <img src="assets/crumbl-logo.svg" />
    </div>
    <div class="navbar-right">
      <button class="secondary-button">
        <img src="assets/location.svg" />
        FIND A CRUMBL
      </button>
      <button class="primary-button">ORDER NOW</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<div class="footer">
  <div>© 2023. all rights reserved.</div>
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 1.5rem;
    "
  >
    <h1>COMPANY</h1>
    <div style="display: flex; flex-direction: column; gap: 0.5rem">
      <a href="#">Our history</a>
      <a href="#">Nutrition</a>
      <a href="#">Canada</a>
      <a href="#">Locations</a>
      <a href="#">Catering</a>
      <a href="#">Merch</a>
      <a href="#">Loyalty</a>
      <a href="#"> Crumbl for Business </a>
      <a href="#"> Privacy policy </a>
      <a href="#"> Support and FAQ </a>
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 1.5rem;
    "
  >
    <h1>GET INVOLVED</h1>
    <div style="display: flex; flex-direction: column; gap: 0.5rem">
      <a href="#">Our history</a>
      <a href="#">Nutrition</a>
      <a href="#">Canada</a>
      <a href="#">Locations</a>
      <a href="#">Catering</a>
      <a href="#">Merch</a>
      <a href="#">Loyalty</a>
      <a href="#"> Crumbl for Business </a>
      <a href="#"> Privacy policy </a>
      <a href="#"> Support and FAQ </a>
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 1.5rem;
    "
  >
    <h1>SPREAD THE WORD</h1>
    <div style="display: flex; gap: 0.5rem">
      <img src="assets/facebook.svg" />
      <img src="assets/twitter.svg" />
      <img src="assets/instagram.svg" />
      <img src="assets/tiktok.svg" />
      <img src="assets/youtube.svg" />
      <img src="assets/linkedin.webp" />
      <img src="assets/pinterest.webp" />
    </div>
  </div>
</div>
