<!-- Navbar -->
<div class="navbar">
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      width: 100%;
      max-width: 100%;
      height: 4rem;
      font-size: 30px;
      border-radius: 0px 0px 10px 10px;
      padding: 0rem 1rem;
      position: fixed;
      top: 0;
      z-index: 50;
      max-width: 1200px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
    "
  >
    <div class="navbar-left">
      <button class="secondary-button" style="padding: 0 0.5rem">
        <img src="assets/menu.svg" />
      </button>
      <img src="assets/crumbl-logo.svg" />
    </div>
    <div class="navbar-right">
      <button class="secondary-button">
        <img src="assets/location.svg" />
        FIND A CRUMBL
      </button>
      <button class="primary-button">ORDER NOW</button>
    </div>
  </div>
</div>

<!-- Video Hero -->
<div class="hero">
  <video autoplay loop muted width="100%" height="100%">
    <source src="assets/crumbl-hero.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

<!-- Apply today -->
<div class="job-section">
  <div
    style="
      display: flex;
      padding: 0.5rem 1.5rem;
      gap: 1.5rem;
      width: 100%;
      max-width: 1100px;
    "
  >
    <img src="assets/crumbl-store.svg" />
    <div style="padding-bottom: 1rem">
      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding-bottom: 2.5rem;
        "
      >
        <div
          style="
            background-color: #000;
            width: fit-content;
            color: #fff;
            padding: 0.25rem 0.5rem;
          "
        >
          <span style="font-weight: bold; font-size: 12px">JOIN THE CREW</span>
        </div>
        <h2>Apply to Work at a Crumbl Near You</h2>
      </div>
      <button class="secondary-button">Apply Today ></button>
    </div>
  </div>
</div>

<!-- Taste Weekly -->
<div class="marketing-section">
  <div style="width: 60%; text-align: center">
    <h2 style="font-weight: bolder; font-size: 2.5rem">Taste Weekly</h2>
    <p style="font-size: 1.5rem">
      Whether you need dessert delivery*, curbside pickup, or something else, we
      make it easy to order cookies online and through the app.
    </p>
    <span style="font-style: italic"
      >*Shipping only available in the United States</span
    >
  </div>
  <div
    style="
      display: flex;
      gap: 10px;
      font-weight: bold;
      font-size: 16px;
      padding-top: 1.5rem;
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/delivery.svg" />
      <p>Delivery</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/curbside.svg" />
      <p>Curbside</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/catering.svg" />
      <p>Catering</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/gifts.svg" />
      <p>Gifts</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/shipping.svg" />
      <p>Shipping</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/subscriptions.svg" />
      <p>Subscriptions</p>
    </div>
  </div>
</div>

<!-- Flavors -->
<div class="flavors-section">
  <div style="display: flex; align-items: center; gap: 1rem">
    <div>
      <div
        style="
          display: flex;
          flex-direction: column;
          background-color: #000;
          padding: 1rem;
          color: #fff;
        "
      >
        <h1>Cookie Flavors</h1>
        <h3>CHANGES EVERY WEEK</h3>
      </div>
    </div>
    <h3>
      Each week, our menu rotates to give you 6 deliciously gourmet flavors to
      experience.
    </h3>
  </div>
  <div></div>
</div>

<!-- Warnings / Info -->
<div></div>

<!-- Cookie Game -->
<div class="cookie-game">
  <h1>Cover Your Cookies</h1>
  <p style="max-width: 90%">
    Introducing the delicious spinoff of the #1 Amazon bestselling card game,
    Cover Your Assets. Check it out at your local Crumbl store today!
  </p>
  <img src="assets/cookie-background.webp" />
  <button class="primary-button">ORDER NOW</button>
</div>

<!-- Loyalty Rewards -->
<div class="loyalty-section">
  <div
    style="
      width: 50vw;
      display: flex;
      justify-content: end;
      padding-right: 5rem;
    "
  >
    <img
      src="assets/phone.webp"
      style="width: 200px; transform: rotate(-12deg)"
    />
  </div>
  <div
    style="
      width: 50vw;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-right: 5rem;
    "
  >
    <h1>Earn Loyalty Crumbs toward FREE cookies with the Crumbl App!</h1>
    <img src="assets/qrcode.svg" style="width: 100px" />
  </div>
</div>

<!-- Career / Franchising -->
<div class="career-and-franchising-section">
  <div
    style="
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, auto);
      align-items: center;
      padding: 2rem;
      gap: 1.5rem;
      max-width: 1100px;
      @media (max-width: 979px) {
        grid-template-columns: repeat(2, auto);
      }
      background-color: red;
    "
  >
    <div style="display: flex; flex-direction: row; gap: 1rem; width: 50%">
      <img src="assets/chef-hat.svg" style="width: 4rem" />
      <div style="display: flex; flex-direction: column">
        <h2>START A CAREER</h2>
        <p>
          We're hiring and looking for joyful people to join our cookie
          initiative.
        </p>
        <button class="primary-button">APPLY NOW</button>
      </div>
    </div>
    <div style="display: flex; flex-direction: row; gap: 1rem; width: 50%">
      <img src="assets/shop-bw.svg" style="width: 4rem" />
      <div style="display: flex; flex-direction: column">
        <h2>FRANCHISING</h2>
        <p>Be your own boss. Become a franchisee and open your own store.</p>
        <button class="primary-button">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div>© 2023. all rights reserved.</div>
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 1.5rem;
    "
  >
    <h1>COMPANY</h1>
    <div style="display: flex; flex-direction: column; gap: 0.5rem">
      <a href="#">Our history</a>
      <a href="#">Nutrition</a>
      <a href="#">Canada</a>
      <a href="#">Locations</a>
      <a href="#">Catering</a>
      <a href="#">Merch</a>
      <a href="#">Loyalty</a>
      <a href="#"> Crumbl for Business </a>
      <a href="#"> Privacy policy </a>
      <a href="#"> Support and FAQ </a>
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 1.5rem;
    "
  >
    <h1>GET INVOLVED</h1>
    <div style="display: flex; flex-direction: column; gap: 0.5rem">
      <a href="#">Our history</a>
      <a href="#">Nutrition</a>
      <a href="#">Canada</a>
      <a href="#">Locations</a>
      <a href="#">Catering</a>
      <a href="#">Merch</a>
      <a href="#">Loyalty</a>
      <a href="#"> Crumbl for Business </a>
      <a href="#"> Privacy policy </a>
      <a href="#"> Support and FAQ </a>
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 1.5rem;
    "
  >
    <h1>SPREAD THE WORD</h1>
    <div style="display: flex; gap: 0.5rem">
      <img src="assets/facebook.svg" />
      <img src="assets/twitter.svg" />
      <img src="assets/instagram.svg" />
      <img src="assets/tiktok.svg" />
      <img src="assets/youtube.svg" />
      <img src="assets/linkedin.webp" />
      <img src="assets/pinterest.webp" />
    </div>
  </div>
</div>

<router-outlet></router-outlet>
