<!-- Video Hero -->
<div class="hero">
  <video autoplay loop muted width="100%" height="100%">
    <source src="assets/crumbl-hero.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

<!-- Apply today -->
<div class="job-section">
  <div
    style="
      display: flex;
      padding: 0.5rem 1.5rem;
      gap: 1.5rem;
      width: 100%;
      max-width: 1100px;
    "
  >
    <img src="assets/crumbl-store.svg" />
    <div style="padding-bottom: 1rem">
      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding-bottom: 2.5rem;
        "
      >
        <div
          style="
            background-color: #000;
            width: fit-content;
            color: #fff;
            padding: 0.25rem 0.5rem;
          "
        >
          <span style="font-weight: bold; font-size: 12px">JOIN THE CREW</span>
        </div>
        <h2>Apply to Work at a Crumbl Near You</h2>
      </div>
      <button class="secondary-button" routerLink="/jobs">Apply Today ></button>
    </div>
  </div>
</div>

<!-- Taste Weekly -->
<div class="marketing-section">
  <div style="width: 60%; text-align: center">
    <h2 style="font-weight: 700; font-size: 2.5rem; line-height: 2.5rem">
      Taste Weekly
    </h2>
    <p style="font-size: 1.5rem; font-weight: 100">
      Whether you need dessert delivery*, curbside pickup, or something else, we
      make it easy to order cookies online and through the app.
    </p>
    <span style="font-style: italic"
      >*Shipping only available in the United States</span
    >
  </div>
  <div
    style="
      display: flex;
      gap: 10px;
      font-weight: bold;
      font-size: 16px;
      padding-top: 1.5rem;
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/delivery.svg" />
      <p>Delivery</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/curbside.svg" />
      <p>Curbside</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/catering.svg" />
      <p>Catering</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/gifts.svg" />
      <p>Gifts</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/shipping.svg" />
      <p>Shipping</p>
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      "
    >
      <img src="assets/subscriptions.svg" />
      <p>Subscriptions</p>
    </div>
  </div>
</div>

<!-- Flavors -->
<div class="flavors-section">
  <div style="display: flex; align-items: center; gap: 1rem">
    <div
      style="
        display: flex;
        flex-direction: column;
        background-color: #000;
        padding: 1rem;
        color: #fff;
      "
    >
      <h1>Cookie Flavors</h1>
      <h3>CHANGES EVERY WEEK</h3>
    </div>
    <h3>
      Each week, our menu rotates to give you 6 deliciously gourmet flavors to
      experience.
    </h3>
  </div>
  <div style="width: 100%; display: flex; justify-content: center">
    <div
      style="
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-width: 1000px;
      "
    >
      <div
        style="
          display: grid;
          grid-template-columns: repeat(2, auto);
          margin: -1rem 0;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 4rem;
            max-width: 70%;
          "
        >
          <h1>Milk Chocolate Chip</h1>
          <h3>
            The classic—you can't go wrong. Thick, soft, and packed with milk
            chocolate chips.
          </h3>
          <p>180 cal*</p>
        </div>
        <img src="assets/chocolate-chip-cookie.png" style="width: 400px" />
      </div>
      <div
        style="display: grid; grid-template-columns: 3fr 2fr; margin: -1rem 0"
      >
        <img src="assets/red-velvet-cookie.jpeg" style="width: 400px" />
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 4rem;
          "
        >
          <h1>Red Velvet Cupcake</h1>
          <h3>
            A red velvet cookie topped with a swirl of delicious vanilla cream
            cheese frosting and a sprinkle of crumbly red velvet cookie crumbs.
          </h3>
          <p>200 cal*</p>
        </div>
      </div>
      <div
        style="
          display: grid;
          grid-template-columns: repeat(2, auto);
          margin: -1rem 0;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 4rem;
            max-width: 70%;
          "
        >
          <h1>Waffle</h1>
          <h3>
            Better than Saturday morning breakfast—a waffle cookie topped with a
            dollop of buttercream frosting and served with a side of maple
            syrup.
          </h3>
          <p>200 cal*</p>
        </div>
        <img src="assets/waffle-cookie.png" style="width: 400px" />
      </div>
      <div
        style="display: grid; grid-template-columns: 2fr 1fr; margin: -1rem 0"
      >
        <img src="assets/cookies-and-cream-cookie.png" style="width: 400px" />
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 4rem;
          "
        >
          <h1>Chocolate Cookies & Cream</h1>
          <h3>
            A rich chocolate cookie slammed with cookies & cream pieces, then
            studded with creamy white chips.
          </h3>
          <p>150 cal*</p>
        </div>
      </div>
      <div
        style="
          display: grid;
          grid-template-columns: repeat(2, auto);
          margin: -1rem 0;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 4rem;
            max-width: 70%;
          "
        >
          <h1>Fried Ice Cream</h1>
          <p>
            The county fair called—a delicious cinnamon cookie with smooth white
            chocolate buttercream and a fried ice cream streusel.
          </p>
          <p>210 cal*</p>
        </div>
        <img src="assets/fried-icecream-cookie.jpeg" style="width: 400px" />
      </div>
      <div
        style="display: grid; grid-template-columns: 2fr 1fr; margin: -1rem 0"
      >
        <img src="assets/pink-sugar-cookie.png" style="width: 400px" />
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 4rem;
          "
        >
          <h1>Classic Pink Sugar</h1>
          <p>
            An all-time favorite—a vanilla sugar cookie topped with a perfect
            pink swoop of real almond frosting (now containing real almond
            extract).
          </p>
          <p>190 cal*</p>
        </div>
      </div>
      <div
        style="
          display: grid;
          grid-template-columns: repeat(2, auto);
          margin: -1rem 0;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 4rem;
            max-width: 70%;
          "
        >
          <h1>Mystery Cookie</h1>
          <h3>
            Is it one of your favorites, or something you haven't tried yet?
            Check the Crumbl App to see what cookie your local store is
            offering!
          </h3>
          <p>80-120 cal*</p>
        </div>
        <video autoplay loop muted width="400px">
          <source src="assets/mystery-cookie.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>

<!-- Warnings / Info -->
<div></div>

<!-- Cookie Game -->
<div class="cookie-game">
  <h1>Cover Your Cookies</h1>
  <h2 style="max-width: 800px">
    Introducing the delicious spinoff of the #1 Amazon bestselling card game,
    Cover Your Assets. Check it out at your local Crumbl store today!
  </h2>
  <img
    src="assets/cookie-background.webp"
    style="width: 100%; max-width: 600px"
  />
  <button class="primary-button">ORDER NOW</button>
</div>

<!-- Loyalty Rewards -->
<div class="loyalty-section">
  <div
    style="
      width: 50vw;
      display: flex;
      justify-content: end;
      padding-right: 5rem;
    "
  >
    <img
      src="assets/phone.webp"
      style="width: 200px; transform: rotate(-12deg)"
    />
  </div>
  <div
    style="
      width: 50vw;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-right: 5rem;
      @media (max-width: 979px) {
        flex-direction: column;
      }
    "
  >
    <h1 style="width: 500px">
      Earn Loyalty Crumbs toward FREE cookies with the Crumbl App!
    </h1>
    <img src="assets/qrcode.svg" style="width: 100px" />
  </div>
</div>

<!-- Career / Franchising -->
<div class="career-and-franchising-section">
  <div class="career-options">
    <div
      style="display: flex; gap: 1rem; justify-content: center; width: 400px"
    >
      <img src="assets/chef-hat.svg" style="width: 4rem" />
      <div style="display: flex; flex-direction: column">
        <h2>START A CAREER</h2>
        <p>
          We're hiring and looking for joyful people to join our cookie
          initiative.
        </p>
        <button class="primary-button">APPLY NOW</button>
      </div>
    </div>
    <div
      style="display: flex; gap: 1rem; justify-content: center; width: 400px"
    >
      <img src="assets/shop-bw.svg" style="width: 4rem" />
      <div style="display: flex; flex-direction: column">
        <h2>FRANCHISING</h2>
        <p>Be your own boss. Become a franchisee and open your own store.</p>
        <button class="primary-button">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>
